doctype html
html
    head
        title Оповещение о новом запросе консультации
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='../css/emails.css', rel='stylesheet')
    body
    
        div.Email-ContainsWrapper
            div.Email-ParagraphsBlock: p Поступил новый запрос на консультацию:
            ul.Email-RequestDataList 
                li 
                    span.Email-RequestDataList-Title Время запроса:
                    span.Email-RequestDataList-Description 49:34:34 34:43
                li 
                    span.Email-RequestDataList-Title Указанное имя:
                    // $inputedData[$inputFieldName['name']]
                    span.Email-RequestDataList-Description Алексей Петров
                li 
                    span.Email-RequestDataList-Title Указанный email:
                    // $inputedData[$inputFieldName['email']]
                    span.Email-RequestDataList-Description qwer@wqer.co
            div.Email-ParagraphsBlock
                p 
                    | Поскольку у Вас настроен 
                    span.Email-Typo-Accent полностью автоматический ответ
                    | , то письмо потенциальному клиенту будет отправлено 
                    span.Email-Typo-Accent автоматически 
                    | через настроенный Вами промежуток времени.
                p
                    | У Вас настроен 
                    span.Email-Typo-Accent полуавтоматический ответ 
                    | с 
                    span.Email-Typo-Accent автоматической отправкой письма по истечении указанного в настройках времени
                    | , а потому во избежание плохого впечатления со стороны клиента из-за вероятной 
                    | некорректной подстановки указанного им имени в письмо следует зайти в админ-панель и 
                    | выбрать вариант письма в качестве ответа на заявку.
                p
                    | У Вас настроен 
                    span.Email-Typo-Accent 
                        | полуавтоматический ответ без автоматической отправки письма по истечении 
                        | указанного в настройках времени
                    | , а потому следует зайти в админ-панель и выбрать вариант письма в качестве ответа на заявку. 
                    | Без этого, письма потенциальному клиенту отправлено не будет.
                p У Вас настроен 
                    span.Email-Typo-Accent полностью ручной режим ответа
                    | , потому от Вас требуется 
                    span.Email-Typo-Accent самостоятельно
                    | написать и отправить письмо потенциальному клиенту (нажатие кнопки «ответ» 
                    | автоматически подставит электронный адрес потенциального клиента в поле получателя).
                    
            div.Email-ToAdminPanelLink-Wrapper
                a.Email-Typo-Link(href='#') Доступ к админ-панели