div.FeedbackForm-RootElement
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    z-index: 5
    overflow: hidden
    background: rgba(0,0,0,0.3)
    
    div#FeedbackForm_wrapper

        max-width: 1004px
        width: 100%
        margin: 0px auto
        background-color: #fff
        padding: 17px 9px
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        
        
        div#addresses_and_phone_numbers,form#application_FeedbackForm

            p.headline_FeedbackForm
                color: #202020
                font-size: 22px
                margin-bottom: 25px
                flex-basis: 100%

        div#addresses_and_phone_numbers
            max-width: 225px
            display: flex
            flex-direction: row
            flex-wrap: wrap
            align-items: baseline
            align-content: flex-start
            flex-basis: 34%

            svg

                fill: #7182ab
                flex-basis: calc(20px + 28px)

            span
                align-self: center
                flex-basis: calc(100% - (20px + 28px))
                font-size: 14px
                color: #8b8b8b
                min-height: 42px
                display: flex
                flex-direction: column
                justify-content: flex-start
                line-height: 1.4
            
        form#application_FeedbackForm

            display: flex
            flex-direction: row
            flex-wrap: wrap
            flex-basis: calc(100% - 34%)

            label
                color: #202020
                font-size: 14px
                display: block
                flex-basis: 33%
                min-height: 42px
            
            div.input_wrapper_for_icon
                flex-basis: 251px
                height: 23px
                border: 1px solid #7182ab
                position: relative    
                
                input
                    width: calc(251px - 26px)
                    border: none
                    position: absolute
                    top: 3px
                    right: 2px
                    transition: width .25s
                svg 
                    fill: #7182ab
                &.input_wrapper_for_icon>input:focus
                    width: 245px
                    
                
            input#message_application_FeedbackForm
                flex-basis: 642px
                height: 128px
                position: relative
                bottom: 10px
     
            input[type=checkbox],input[type=radio]
                display: none
            label.checkbox_mailing_list
                position: relative
                &.checkbox_mailing_list:before
                    posotion: absolute
                    top: 4px
                    border-radius: 3px
                    border: 1px solid #71a5ff
                    content: ""
                    display: inline-block
                    width: 15px
                    height: 15px

            input[type=checkbox]:checked + label.checkbox_mailing_list:before 
                content: "\2713"
                color: #71a5ff 
                font-size: 22px
                position: absolute
                top: 0px