footer
    flex-grow: 0
    flex-shrink: 0
    background-color: #f6acac
    display: flex
    flex-direction: row
    justify-content: center
    padding: 7px 10px 0px 10px
    
    p
        font-size: 19px
        color: #6f6f6f
        flex-basis: 1024px
        margin: 0px 6px
        line-height: 1.2
        
        
        