@mixin hide-button-menu_top
    display: none
    width: 0px
    font-size: 0px
@mixin button-background-size-position
    background-size: 40px,122px 50px
    background-position: center

header#menu_top 
    flex-grow: 1
    height: 60px
    max-height: 60px
    min-height: 60px
    line-height: 60px
    background: linear-gradient(to right, #000046, #1cb5e0)
    text-align: center
    padding-right: 2px
    display: flex
    flex-direction: row
    justify-content: center

    a#logotip
        width: 152px 
        height: 40px
        display: inline-block
        margin: 10px 212px 10px 10px

        img
            width: 152px 
            height: auto
            line-height: 1.1
            font-size: 11px
            color: #ffffff;

    nav
        margin-right: 10px
        span#menu_sidebar
            +hide-button-menu_top
        a#close_menu_sidebar
            +hide-button-menu_top
        ul
            display: flex
            flex-direction: row

            li>a
                display: inline-block
                width: 123px
                height: 50px
                margin: 4.5px 0px 4.5px 7px
                line-height: 50px
                background: url(../img/diagonal-striped-brick.png) repeat-x,linear-gradient(to bottom,#c0bcbb 3px, transparent 3px,transparent 5px, #545454 5px, #000000 25px, #707070 45px,transparent 47px,#c0bcbb 47px) repeat-x
                +button-background-size-position
                color: #c4c0be
                font-size: 15px
                font-weight: bold
                text-decoration: none
                vertical-align: top

                &#gamburger_menu_top
                    +hide-button-menu_top

                &:hover, &#contacts:hover
                    background: url(../img/diagonal-striped-brick.png) repeat-x,linear-gradient(to bottom,#f9e57e 3px, transparent 3px,transparent 5px, #545454 5px, #000000 25px, #707070 45px,transparent 47px,#f9e57e 47px) repeat-x
                    +button-background-size-position
                    color: #f9e57e

                &:active, &#contacts:active
                    background: url(../img/diagonal-striped-brick.png) repeat-x,linear-gradient(to bottom,#e7cb82 3px, transparent 3px,transparent 5px, #e7cb82 5px, #000000 25px, #e7cb82 45px,transparent 47px,#e7cb82 47px) repeat-x
                    +button-background-size-position
                    color: #f9e57e    

@media screen and (max-width:1033px)
    header#menu_top
        justify-content: space-between
        
        a#logotip
            margin-right: 35px
            
        nav>ul>li
            a#location
                +hide-button-menu_top

@media screen and (max-width:905px)
    header#menu_top>nav>ul>li
        a#services
            +hide-button-menu_top

@media screen and (max-width:775px)
    header#menu_top>nav>ul>li
        a#goods
           +hide-button-menu_top

@media screen and (max-width:645px)
    header#menu_top
        nav>ul>li>a
            &#company
                +hide-button-menu_top

            &#contacts
                background: url(../img/diagonal-striped-brick.png) repeat-x,linear-gradient(to bottom,#f6b15f 3px, transparent 3px,transparent 5px, #545454 5px, #000000 25px, #707070 45px,transparent 47px,#f6b15f 47px) repeat-x
                +button-background-size-position
                color: #f6b15f

            &#gamburger_menu_top
                margin: 4.5px 0px 4.5px 7px
                width: 40px
                height: 50px
                display: inline-block
                font-size: 10px
                font-weight: normal
                color: #ffffff
                line-height: 0.5

                svg
                    width: 30px
                    height: 30px
                    margin-top: 6px
                    display: inline
                    fill: white
        &#menu_top.sidebar
            display: block
            text-align: left
            a#sidebar_shading
                width: 100%
                height: 100%
                position: absolute
                top: 0px
                z-index: 1
                background-color: #000000
                opacity: 0.3
                display: block
            nav
                overflow-y: hidden
                position: absolute
                right: -10px
                z-index: 10
                top: 0px
                height: 100%
                width: 260px
                background-color: #ffffff
                text-align: left
                padding: 10px 6px 10px 18px
                line-height: 1
                color: #000000
                
                span#menu_sidebar
                    display: inline
                    font-size: 25px
                    margin-right: 115px
                    vertical-align: top
                    
                a#close_menu_sidebar
                    text-align: center
                    width: 35px
                    display: inline-block
                    font-size: 10px
                    font-weight: normal
                    line-height: 0.5

                    svg
                        width: 24px
                        height: 24px
                        display: inline
                ul
                    flex-direction: column
                    margin-top: 35px
                    li
                        line-height: 1.4
                        a
                            &#company,&#goods,&#services,&#location,&#contacts    
                                display: inline
                                font-size: 15px
                                padding-left: 28px
                                line-height: 1.4
                                background: url(../img/hand-pointing-right.svg) no-repeat
                                background-position: 0px,2px
                            font-weight: normal
                            color: #000000    
                            
                            &#gamburger_menu_top 
                               +hide-button-menu_top
 
@media screen and (max-width:380px)
    header#menu_top
        a#logotip
            margin-right: 10px
        img
            width: 132px 

        nav>ul>li>a
            width: 94px