<!DOCTYPE html>
<html lang="ru">
<!-- 「head ================================================================-->

<head>
    <title>ИмяТелефона- фантастический смартфон от БрендТелефона</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Bokov Gleb, MyLanding Studio">
    <meta name="description" content="Новый смартфон ИмяТелефона- это лучше чем айфон! Мощные характеристики и креативный дизайн. Купить ИмяТелефона в интернет-магазине по выгодным ценам.">
    <meta name="Keywords" content="телефон ИмяТелефона, смартфон ИмяТелефона, купить смартфон в интернет-магазине, купить айфон">
    <!--      href="{{ asset('common/img/favicon.ico') }}"       -->
    <link rel="shortcut icon" type="image/x-icon" href="../common/img/favicon.ico">
    <!--      @yield('CssLinks')-->
    <!--      @yield('EndHeadJS')-->
    <link href="css/01-01_NoJsRequest.css" rel="stylesheet">
    <!-- head」 ===============================================================-->
</head>

<body>
    <!--div.RelativePageWrapper-->
    <div class="FlexPageLayoutWithFixedHeaderAndBottomFooter-Wrapper">
        <!-- 「header ==========================================================-->
        <!--      @include('open/widgets/RegularHeaderWithMenu')       -->
        <header id="menu_top">
            <a id="logotip" href="#">
                <img src="img/mhgsmall.png" alt="Интересные модели свадебных платьев. Натуральные ткани и европейский дизайн.">
            </a>
            <a id="sidebar_shading" href="#"></a>
            <nav><span id="menu_sidebar">Меню</span>
                <a id="close_menu_sidebar" href="#close_sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="4 0 22 22">
                        <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                    </svg>закрыть</a>
                <ul>
                    <li><a id="company" href="#company">О компании</a>
                    </li>
                    <li><a id="goods" href="#goods">Товары</a>
                    </li>
                    <li><a id="services" href="#services">Услуги</a>
                    </li>
                    <li><a id="location" href="#location">Схемы проезда</a>
                    </li>
                    <li><a id="contacts" href="#contacts">Связаться</a>
                    </li>
                    <li>
                        <a id="gamburger_menu_top" href="#gamburger">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24">
                                <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
                            </svg>
                            <br>МЕНЮ</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--header」 ==========================================================-->
        <div class="FlexPageLayoutWithFixedHeaderAndBottomFooter-MainAndFooterFlexScroolView">
            <!-- 「content ========================================================-->
            <!--      @yield('Content')       -->
            <!--@if(count($errorMessages) > 0)-->
            <!--    <div class="FeedbackForm-ServerErrors-RootWrapper">-->
            <!--        <div class="FeedbackForm-ServerErrors-Centerer">-->
            <!--            <div class="FeedbackForm-ServerErrors-Title">-->
            <!--                При отправке формы заявки обнаружены следующие ошибки:-->
            <!--            </div>-->
            <!--            <ul class="FeedbackForm-ServerErrors-ErrorsList">-->
            <!--                @foreach($errorMessages -> all() as $errorMessage)-->
            <!--                    <li>{!! $errorMessage !!}</li>-->
            <!--                @endforeach-->
            <!--            </ul>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--@endif-->
            <!-- Убери (style='display: none')-->
            <div class="FeedbackForm-ServerErrors-RootWrapper" style="display: none;">
                <div class="FeedbackForm-ServerErrors-Centerer">
                    <div class="FeedbackForm-ServerErrors-Title">При отправке формы заявки обнаружены следующие ошибки:</div>
                    <ul class="FeedbackForm-ServerErrors-ErrorsList">
                        <li>Вы не указали Ваше имя. Пожалуйста, укажите имя (фамилию и отчество не обязательно).</li>
                        <li>Вы указали слишком длинное имя: позволено не более 255 символов.</li>
                        <li>Вы не указали адрес электронной почты. Пожалуйста, укажите адрес электронной почты.</li>
                        <li>Вы ввели невозможный адрес электронной почты. Пожалуйста, проверьте введённый email-адрес.</li>
                    </ul>
                </div>
            </div>
            <div class="NoJsFeedbackForm-RootElement">
                <noscript>
                    <div class="NoJsFeedbackForm-NoJsWarningMessage">Из-за того, что в Вашем браузере отключён JavaScript, мы не можем проверить введённые данные перед их отправкой, а потому при вводе некорректных данных (например, невозможного email-адреса после попытки отправить заявку Вы будете возвращены
                        на эту страницу. Пожалуйста, включите JavaScript, чтобы этого избежать. (<a class="D-Link error" href="https://www.enable-javascript.com/ru/">Как включить JavaScript</a>).</div>
                </noscript>
                <!--      action="{{ route('submitConsultationRequest') }}"-->
                <form action="/" method="post">
                    <!--      {{ csrf_field() }}  -->
                </form>
            </div>
            <!-- content」 ========================================================-->
            <!-- 「footer =========================================================-->
            <!--      @include('public/widgets/RegularFooter')        -->
        </div>
        <footer>
            <p>Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz.
                <!-- footer」 =========================================================-->
            </p>
        </footer>
        <!--div.Overlay-AbsoluteWrapper: div.Overlay-RelativeField-->
        <!--      @yield('HiddenElements')     -->
        <!--      @include('public/widgets/FeedbackForm')        -->
        <div class="FeedbackForm-RootElement" style="display: none;">
            <div id="FeedbackForm_wrapper">
                <div id="addresses_and_phone_numbers">
                    <p class="headline_FeedbackForm">Адреса и телефоны</p>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="16 0 24 24">
                        <path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z"></path>
                    </svg><span>+7-495-123-45-67</span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="12 0 24 24">
                        <path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"></path>
                    </svg><span>inquairy@example.com</span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="12 0 24 24">
                        <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z"></path>
                    </svg><span>г. Москва ул. Мясницкая д. R, стр. R; 101000</span>
                </div>
                <form id="application_FeedbackForm">
                    <p class="headline_FeedbackForm">Форма заявки</p>
                    <label for="your_name_FeedbackForm">Ваше имя</label>
                    <div class="input_wrapper_for_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 24 24">
                            <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
                        </svg>
                        <input id="your_name_FeedbackForm" type="text" name="your_name" placeholder="Пример: Петров Сергей" required>
                    </div>
                    <label for="your_mail_FeedbackForm">Ваша электронная почта</label>
                    <div class="input_wrapper_for_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16" viewBox="-2 -4 24 24">
                            <path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"></path>
                        </svg>
                        <input id="your_mail_FeedbackForm" type="email" name="your_mail" placeholder="Пример: petrov.s@rmail.ru" required>
                    </div>
                    <label for="your_phone_FeedbackForm">Ваш телефон</label>
                    <div class="input_wrapper_for_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16" viewBox="0 -2 22 22">
                            <path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z"></path>
                        </svg>
                        <input id="your_phone_FeedbackForm" type="text" name="your_phone" placeholder="Пример: 8-916-123-45-67" required>
                    </div>
                    <label for="message_FeedbackForm">Сообщение</label>
                    <input id="message_application_FeedbackForm" type="text" name="message">
                    <input id="mailing_list1" type="checkbox" name="mailing_list1">
                    <label class="checkbox_mailing_list" for="mailing_list1">Подписаться на рассылку 1</label>
                    <label class="checkbox_mailing_list">
                        <input type="checkbox" name="mailing_list2">Подписаться на рассылку 2</label>
                    <p>Предпочтительный способ связи</p>
                    <label>
                        <input type="radio" name="method_to_connect" value="mail">Электронная почта
                        <br>
                        <input type="radio" name="method_to_connect" value="phone">Телефон</label>
                    <p class="setting_FeedbackForm">Настройка 1</p>
                    <p class="setting_FeedbackForm">Настройка 2</p>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    <!--      @yield('EndBodyJS')     -->
    <script src="js/NoJsRequest.js"></script>
</body>

</html>