<!DOCTYPE html>
<html lang="ru">
<!-- 「head ================================================================-->

<head>
    <title>ИмяТелефона- фантастический смартфон от БрендТелефона</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Bokov Gleb, MyLanding Studio">
    <meta name="description" content="Новый смартфон ИмяТелефона- это лучше чем айфон! Мощные характеристики и креативный дизайн. Купить ИмяТелефона в интернет-магазине по выгодным ценам.">
    <meta name="Keywords" content="телефон ИмяТелефона, смартфон ИмяТелефона, купить смартфон в интернет-магазине, купить айфон">
    <!--      href="{{ asset('common/img/favicon.ico') }}"       -->
    <link rel="shortcut icon" type="image/x-icon" href="../common/img/favicon.ico">
    <!--      @yield('CssLinks')-->
    <!--      @yield('EndHeadJS')-->
    <link href="css/01_Top.css" rel="stylesheet">
    <!-- head」 ===============================================================-->
</head>

<body>
    <!--div.RelativePageWrapper-->
    <div class="FlexPageLayoutWithFixedHeaderAndBottomFooter-Wrapper">
        <!-- 「header ==========================================================-->
        <!--      @include('open/widgets/RegularHeaderWithMenu')       -->
        <header id="menu_top">
            <a id="logotip" href="#">
                <img src="img/mhgsmall.png" alt="Интересные модели свадебных платьев. Натуральные ткани и европейский дизайн.">
            </a>
            <a id="sidebar_shading" href="#"></a>
            <nav><span id="menu_sidebar">Меню</span>
                <a id="close_menu_sidebar" href="#close_sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="4 0 22 22">
                        <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                    </svg>закрыть</a>
                <ul>
                    <li><a id="company" href="#company">О компании</a>
                    </li>
                    <li><a id="goods" href="#goods">Товары</a>
                    </li>
                    <li><a id="services" href="#services">Услуги</a>
                    </li>
                    <li><a id="location" href="#location">Схемы проезда</a>
                    </li>
                    <li><a id="contacts" href="#contacts">Связаться</a>
                    </li>
                    <li>
                        <a id="gamburger_menu_top" href="#gamburger">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24">
                                <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
                            </svg>
                            <br>МЕНЮ</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--header」 ==========================================================-->
        <div class="FlexPageLayoutWithFixedHeaderAndBottomFooter-MainAndFooterFlexScroolView">
            <!-- 「content ========================================================-->
            <!--      @yield('Content')       -->
            <!--@if(count($errorMessages) > 0)-->
            <!--    <div class="FeedbackForm-ServerErrors-RootWrapper">-->
            <!--        <div class="FeedbackForm-ServerErrors-Centerer">-->
            <!--            <div class="FeedbackForm-ServerErrors-Title">-->
            <!--                При отправке формы заявки обнаружены следующие ошибки:-->
            <!--            </div>-->
            <!--            <ul class="FeedbackForm-ServerErrors-ErrorsList">-->
            <!--                @foreach($errorMessages -> all() as $errorMessage)-->
            <!--                    <li>{!! $errorMessage !!}</li>-->
            <!--                @endforeach-->
            <!--            </ul>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--@endif-->
            <!-- Убери (style='display: none')-->
            <div class="FeedbackForm-ServerErrors-RootWrapper" style="display: none;">
                <div class="FeedbackForm-ServerErrors-Centerer">
                    <div class="FeedbackForm-ServerErrors-Title">При отправке формы заявки обнаружены следующие ошибки:</div>
                    <ul class="FeedbackForm-ServerErrors-ErrorsList">
                        <li>Вы не указали Ваше имя. Пожалуйста, укажите имя (фамилию и отчество не обязательно).</li>
                        <li>Вы указали слишком длинное имя: позволено не более 255 символов.</li>
                        <li>Вы не указали адрес электронной почты. Пожалуйста, укажите адрес электронной почты.</li>
                        <li>Вы ввели невозможный адрес электронной почты. Пожалуйста, проверьте введённый email-адрес.</li>
                    </ul>
                </div>
            </div>
            <!-- === Рекомендуется разбить содержимое главной страницы на файлы-->
            <div id="slider_container">
                <div class="slider_item active_slider" id="slider_1">
                    <img src="img/Slider1.jpg" alt="Slider1">
                </div>
                <div class="slider_item" id="slider_2">
                    <img src="img/Slider2.jpg" alt="Slider2">
                </div>
                <div class="slider_item" id="slider_3">
                    <img src="img/Slider3.jpg" alt="Slider3">
                </div>
                <div class="slider_item" id="slider_4">
                    <img src="img/Slider4.png" alt="Slider4">
                </div>
                <div class="slider_text_link active_text_link" id="slider_text_link_1">
                    <p>Есть куча jQuery-плагинов, с помощью которых можно сделать слайдеры. Но есть ли те, которые обладают гибкостью и адаптивностью под разные размеры окон без лишнего кода? Едва ли.</p><a href="#">Подробнее</a>
                </div>
                <div class="slider_text_link" id="slider_text_link_2">
                    <p>И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов.</p><a href="#">Подробнее</a>
                </div>
                <div class="slider_text_link" id="slider_text_link_3">
                    <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p><a href="#">Подробнее</a>
                </div>
                <div class="slider_text_link" id="slider_text_link_4">
                    <p>Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону</p><a href="#">Подробнее</a>
                </div>
                <div id="miniatur_sliders">
                    <a class="miniatur_slider_item" id="miniatur_slider_1" href="#">
                        <img src="img/Slider1_miniatura.jpg" alt="Slider1">
                    </a>
                    <a class="miniatur_slider_item" id="miniatur_slider_2" href="#">
                        <img src="img/Slider2_miniatura.jpg" alt="Slider2">
                    </a>
                    <a class="miniatur_slider_item" id="miniatur_slider_3" href="#">
                        <img src="img/Slider3_miniatura.jpg" alt="Slider3">
                    </a>
                    <a class="miniatur_slider_item" id="miniatur_slider_4" href="#">
                        <img src="img/Slider4_miniatura.png" alt="Slider4">
                    </a>
                </div>
            </div>
            <div id="custom_grid_layout">
                <div id="headline">
                    <h2>Жесть... Как я это реализую на bootstap?!</h2>
                    <h3> Bootstap вгоняет Ваше мышление в определенные рамки</h3>
                </div>
                <div class="content_custom_grid_layout" id="content1_custom_grid_layout">
                    <p class="custom_grid_layout_content_text_headline">Эх, жирафы честно в цель шагают, да щук объять за память ёлкой...</p>
                    <img src="img/preview_pillow.png" alt="Bootstrap sucks">К берегу двойной подошвой танцевал с точками на меня напала. Заломов нес красное знамя, по площади чеканя.</div>
                <div class="content_custom_grid_layout" id="content2_custom_grid_layout">
                    <p class="custom_grid_layout_content_text_headline">В чащах юга жил-был цитрус... — да, но фальшивый!</p>
                    <ol>
                        <li>
                            <div class="content2_custom_grid_layout_text">
                                <div class="krug_numbered_list"></div>Несмотря на латыни и зла средневековый книгопечатник вырвало тдельные. Обитателям водоемов то и по сей день веб-разработчик знает.</div>
                        </li>
                        <li>
                            <div class="content2_custom_grid_layout_text">
                                <div class="krug_numbered_list"></div>Нести совсем необязательно обитателям водоемов книгопечатании еще в различных языках те. – написание символов на сайтах и демонстрации внешнего.</div>
                        </li>
                        <li>
                            <div class="content2_custom_grid_layout_text">
                                <div class="krug_numbered_list"></div>Кириллице значительно различается генераторы, создающие собственные варианты текста. Внешнего вида контента, просмотра шрифтов, абзацев отступов. Набор слов. рыбным текстом является знаменитый lorem.</div>
                        </li>
                    </ol>
                </div>
                <div class="content_custom_grid_layout" id="content3_custom_grid_layout">
                    <p class="custom_grid_layout_content_text_headline">Расчешись! Объявляю: туфли у камина.</p>
                    <ol>
                        <li>
                            <div class="content3_custom_grid_layout_text">
                                <div class="shevron_numbered_list"></div>Его глаза с толку иванушку кота и задушило. Безухов носил панталоны с простыми солдатами бывает. Зимой не лoдка самым наглым oбразoм приставала к берегу.</div>
                        </li>
                        <li>
                            <div class="content3_custom_grid_layout_text">
                                <div class="shevron_numbered_list"></div>Белокурые локоны выбивались из головы, туловища и на диване. Обществе слышались не слышала. Полю, слегка попахивая греб коромыслами.</div>
                        </li>
                        <li>
                            <div class="content3_custom_grid_layout_text">
                                <div class="shevron_numbered_list"></div>Женщина, а в кармане у ласкового. Медведь выкопал яму под её лица произошел. Гордая и задушило дездемону серая шейка грустно опустила зад в.</div>
                        </li>
                    </ol>
                </div>
            </div>
            <div id="vertical_task_wrapper">
                <p>Задача вертикального центрирования</p>
                <div id="vertical_task_pictures_wrapper">
                    <img class="vertical_task_pictures" id="vertical_task_picture1" src="img/preview.png" alt="Картинка 1">
                    <img class="vertical_task_pictures" id="vertical_task_picture2" src="img/3041010_700b.jpg" alt="Картинка 2">
                    <img class="vertical_task_pictures" id="vertical_task_picture3" src="img/28_tshirt_floor_man.jpg" alt="Картинка 3">
                </div>
            </div>
            <div id="Grid_card_view_wrapper">
                <div class="team_members" id="team_member1">
                    <img src="img/team_pic1.jpg" alt="team">
                    <p class="team_member_name">Luke Sutton<span class="team_member_circle"></span>
                    </p>
                    <p class="team_member_email">luke_sutton@company1.com</p>
                    <p class="team_member_about">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.</p>
                    <svg class="team_members_menu_open_close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
                    </svg>
                    <div class="team_members_popup_edit_delete">
                        <svg class="team_members_popup_edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path>
                        </svg><span class="team_members_popup_edit">Редактировать</span>
                        <svg class="team_members_popup_delete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        </svg><span class="team_members_popup_delete">Удалить</span>
                    </div>
                </div>
                <div class="team_members" id="team_member2">
                    <img src="img/team_pic2.jpg" alt="team">
                    <p class="team_member_name">Bruce Gordon<span class="team_member_circle"></span>
                    </p>
                    <p class="team_member_email">luke_sutton@company1.com</p>
                    <p class="team_member_about">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.</p>
                    <svg class="team_members_menu_open_close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
                    </svg>
                    <div class="team_members_popup_edit_delete">
                        <svg class="team_members_popup_edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path>
                        </svg><span class="team_members_popup_edit">Редактировать</span>
                        <svg class="team_members_popup_delete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        </svg><span class="team_members_popup_delete">Удалить</span>
                    </div>
                </div>
                <div class="team_members" id="team_member3">
                    <img src="img/team_pic3.jpg" alt="team">
                    <p class="team_member_name">Cristina Nichols<span class="team_member_circle"></span>
                    </p>
                    <p class="team_member_email">luke_sutton@company1.com</p>
                    <p class="team_member_about">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.</p>
                    <svg class="team_members_menu_open_close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
                    </svg>
                    <div class="team_members_popup_edit_delete">
                        <svg class="team_members_popup_edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path>
                        </svg><span class="team_members_popup_edit">Редактировать</span>
                        <svg class="team_members_popup_delete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        </svg><span class="team_members_popup_delete">Удалить</span>
                    </div>
                </div>
                <div class="team_members" id="team_member4">
                    <img src="img/team_pic1.jpg" alt="team">
                    <p class="team_member_name">Luke Sutton<span class="team_member_circle"></span>
                    </p>
                    <p class="team_member_email">luke_sutton@company1.com</p>
                    <p class="team_member_about">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.</p>
                    <svg class="team_members_menu_open_close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
                    </svg>
                    <div class="team_members_popup_edit_delete">
                        <svg class="team_members_popup_edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path>
                        </svg><span class="team_members_popup_edit">Редактировать</span>
                        <svg class="team_members_popup_delete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        </svg><span class="team_members_popup_delete">Удалить</span>
                    </div>
                </div>
                <div class="team_members" id="team_member5">
                    <img src="img/team_pic3.jpg" alt="team">
                    <p class="team_member_name">Cristina Nichols<span class="team_member_circle"></span>
                    </p>
                    <p class="team_member_email">luke_sutton@company1.com</p>
                    <p class="team_member_about">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.</p>
                    <svg class="team_members_menu_open_close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
                    </svg>
                    <div class="team_members_popup_edit_delete">
                        <svg class="team_members_popup_edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path>
                        </svg><span class="team_members_popup_edit">Редактировать</span>
                        <svg class="team_members_popup_delete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        </svg><span class="team_members_popup_delete">Удалить</span>
                    </div>
                </div>
                <div class="team_members" id="team_member6">
                    <img src="img/team_pic2.jpg" alt="team">
                    <p class="team_member_name">Bruce Gordon<span class="team_member_circle"></span>
                    </p>
                    <p class="team_member_email">luke_sutton@company1.com</p>
                    <p class="team_member_about">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.</p>
                    <svg class="team_members_menu_open_close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
                    </svg>
                    <div class="team_members_popup_edit_delete">
                        <svg class="team_members_popup_edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path>
                        </svg><span class="team_members_popup_edit">Редактировать</span>
                        <svg class="team_members_popup_delete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        </svg><span class="team_members_popup_delete">Удалить</span>
                    </div>
                </div>
                <div class="team_members" id="team_member7">
                    <img src="img/team_pic1.jpg" alt="team">
                    <p class="team_member_name">Luke Sutton<span class="team_member_circle"></span>
                    </p>
                    <p class="team_member_email">luke_sutton@company1.com</p>
                    <p class="team_member_about">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.</p>
                    <svg class="team_members_menu_open_close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
                    </svg>
                    <div class="team_members_popup_edit_delete">
                        <svg class="team_members_popup_edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path>
                        </svg><span class="team_members_popup_edit">Редактировать</span>
                        <svg class="team_members_popup_delete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        </svg><span class="team_members_popup_delete">Удалить</span>
                    </div>
                </div>
                <div class="team_members" id="team_member8">
                    <img src="img/team_pic2.jpg" alt="team">
                    <p class="team_member_name">Bruce Gordon<span class="team_member_circle"></span>
                    </p>
                    <p class="team_member_email">luke_sutton@company1.com</p>
                    <p class="team_member_about">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.</p>
                    <svg class="team_members_menu_open_close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
                    </svg>
                    <div class="team_members_popup_edit_delete">
                        <svg class="team_members_popup_edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path>
                        </svg><span class="team_members_popup_edit">Редактировать</span>
                        <svg class="team_members_popup_delete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        </svg><span class="team_members_popup_delete">Удалить</span>
                    </div>
                </div>
            </div>
            <!-- content」 ========================================================-->
            <!-- 「footer =========================================================-->
            <!--      @include('public/widgets/RegularFooter')        -->
        </div>
        <footer>
            <p>Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz.
                <!-- footer」 =========================================================-->
            </p>
        </footer>
        <!--div.Overlay-AbsoluteWrapper: div.Overlay-RelativeField-->
        <!--      @yield('HiddenElements')     -->
        <!--@include('open/widgets/FeedbackForm')        -->
        <div class="FeedbackForm-RootElement" style="display: none;">
            <div id="FeedbackForm_wrapper">
                <div id="addresses_and_phone_numbers">
                    <p class="headline_FeedbackForm">Адреса и телефоны</p>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="16 0 24 24">
                        <path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z"></path>
                    </svg><span>+7-495-123-45-67</span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="12 0 24 24">
                        <path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"></path>
                    </svg><span>inquairy@example.com</span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="12 0 24 24">
                        <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z"></path>
                    </svg><span>г. Москва ул. Мясницкая д. R, стр. R; 101000</span>
                </div>
                <form id="application_FeedbackForm">
                    <p class="headline_FeedbackForm">Форма заявки</p>
                    <label for="your_name_FeedbackForm">Ваше имя</label>
                    <div class="input_wrapper_for_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 24 24">
                            <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
                        </svg>
                        <input id="your_name_FeedbackForm" type="text" name="your_name" placeholder="Пример: Петров Сергей" required>
                    </div>
                    <label for="your_mail_FeedbackForm">Ваша электронная почта</label>
                    <div class="input_wrapper_for_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16" viewBox="-2 -4 24 24">
                            <path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"></path>
                        </svg>
                        <input id="your_mail_FeedbackForm" type="email" name="your_mail" placeholder="Пример: petrov.s@rmail.ru" required>
                    </div>
                    <label for="your_phone_FeedbackForm">Ваш телефон</label>
                    <div class="input_wrapper_for_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16" viewBox="0 -2 22 22">
                            <path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z"></path>
                        </svg>
                        <input id="your_phone_FeedbackForm" type="text" name="your_phone" placeholder="Пример: 8-916-123-45-67" required>
                    </div>
                    <label for="message_FeedbackForm">Сообщение</label>
                    <input id="message_application_FeedbackForm" type="text" name="message">
                    <input id="mailing_list1" type="checkbox" name="mailing_list1">
                    <label class="checkbox_mailing_list" for="mailing_list1">Подписаться на рассылку 1</label>
                    <label class="checkbox_mailing_list">
                        <input type="checkbox" name="mailing_list2">Подписаться на рассылку 2</label>
                    <p>Предпочтительный способ связи</p>
                    <label>
                        <input type="radio" name="method_to_connect" value="mail">Электронная почта
                        <br>
                        <input type="radio" name="method_to_connect" value="phone">Телефон</label>
                    <p class="setting_FeedbackForm">Настройка 1</p>
                    <p class="setting_FeedbackForm">Настройка 2</p>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    <!--      @yield('EndBodyJS')     -->
    <script src="js/Top.js"></script>
</body>

</html>