<!DOCTYPE html>
<html lang="ru">
<!-- 「head ================================================================-->

<head>
    <title>ИмяТелефона- фантастический смартфон от БрендТелефона</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Bokov Gleb, MyLanding Studio">
    <meta name="description" content="Новый смартфон ИмяТелефона- это лучше чем айфон! Мощные характеристики и креативный дизайн. Купить ИмяТелефона в интернет-магазине по выгодным ценам.">
    <meta name="Keywords" content="телефон ИмяТелефона, смартфон ИмяТелефона, купить смартфон в интернет-магазине, купить айфон">
    <!--      href="{{ asset('common/img/favicon.ico') }}"       -->
    <link rel="shortcut icon" type="image/x-icon" href="../common/img/favicon.ico">
    <!--      @yield('CssLinks')-->
    <!--      @yield('EndHeadJS')-->
    <link href="css/02_Thanks.css" rel="stylesheet">
    <!-- head」 ===============================================================-->
</head>

<body>
    <!--div.RelativePageWrapper-->
    <div class="FlexPageLayoutWithFixedHeaderAndBottomFooter-Wrapper">
        <!-- 「header ==========================================================-->
        <!--      @include('open/widgets/RegularHeaderWithMenu')       -->
        <header id="menu_top">
            <a id="logotip" href="#">
                <img src="img/mhgsmall.png" alt="Интересные модели свадебных платьев. Натуральные ткани и европейский дизайн.">
            </a>
            <a id="sidebar_shading" href="#"></a>
            <nav><span id="menu_sidebar">Меню</span>
                <a id="close_menu_sidebar" href="#close_sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="4 0 22 22">
                        <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                    </svg>закрыть</a>
                <ul>
                    <li><a id="company" href="#company">О компании</a>
                    </li>
                    <li><a id="goods" href="#goods">Товары</a>
                    </li>
                    <li><a id="services" href="#services">Услуги</a>
                    </li>
                    <li><a id="location" href="#location">Схемы проезда</a>
                    </li>
                    <li><a id="contacts" href="#contacts">Связаться</a>
                    </li>
                    <li>
                        <a id="gamburger_menu_top" href="#gamburger">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24">
                                <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
                            </svg>
                            <br>МЕНЮ</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--header」 ==========================================================-->
        <div class="FlexPageLayoutWithFixedHeaderAndBottomFooter-MainAndFooterFlexScroolView">
            <!-- 「content ========================================================-->
            <!--      @yield('Content')       -->
            <p>Спасибо за заявку!</p>
            <!-- content」 ========================================================-->
            <!-- 「footer =========================================================-->
            <!--      @include('public/widgets/RegularFooter')        -->
        </div>
        <footer>
            <p>Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz.
                <!-- footer」 =========================================================-->
            </p>
        </footer>
        <!--div.Overlay-AbsoluteWrapper: div.Overlay-RelativeField-->
        <!--      @yield('HiddenElements')     -->
    </div>
    <!--      @yield('EndBodyJS')     -->
</body>

</html>