doctype html

html(lang='ru')
    // 「head ================================================================
    head
        block Head
        
            - var pageTitle = pageTitle ? pageTitle : 'ИмяТелефона- фантастический смартфон  от БрендТелефона'
            - var keywords = keywords ? keywords: 'телефон ИмяТелефона, смартфон ИмяТелефона, купить смартфон в интернет-магазине, купить айфон'
            - var description = description ? description: 'Новый смартфон ИмяТелефона- это лучше чем айфон! Мощные характеристики и креативный дизайн. Купить ИмяТелефона в интернет-магазине по выгодным ценам.'
            
            title #{pageTitle}
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            meta(name='Author', content='Bokov Gleb, MyLanding Studio')
            
            meta(name='description', content=description)
            meta(name='Keywords', content=keywords)
            
            //      href="{{ asset('common/img/favicon.ico') }}"       
            link(rel='shortcut icon' type='image/x-icon' href='../common/img/favicon.ico')
            
        //      @yield('CssLinks')
        //      @yield('EndHeadJS')
        block CssLinks
        // head」 ===============================================================
                            
    body
        //div.RelativePageWrapper
        div.FlexPageLayoutWithFixedHeaderAndBottomFooter-Wrapper

            // 「header ==========================================================
            //      @include('open/widgets/RegularHeaderWithMenu')       
            include ../widgets/RegularHeaderWithMenu
            //header」 ==========================================================
            div.FlexPageLayoutWithFixedHeaderAndBottomFooter-MainAndFooterFlexScroolView

                // 「content ========================================================
                //      @yield('Content')       
                block Content
                // content」 ========================================================

                // 「footer =========================================================
                //      @include('public/widgets/RegularFooter')        
            include ../widgets/RegularFooter
                // footer」 =========================================================


            //div.Overlay-AbsoluteWrapper: div.Overlay-RelativeField
            //      @yield('HiddenElements')     
            block HiddenElements
                
        //      @yield('EndBodyJS')     
        block EndBodyJS