div#slider_container
    div#slider_1.slider_item.active_slider
        img(src="img/Slider1.jpg", alt="Slider1") 
        
    div#slider_2.slider_item
        img(src="img/Slider2.jpg", alt="Slider2")
        
    div#slider_3.slider_item    
        img(src="img/Slider3.jpg", alt="Slider3")
    
    div#slider_4.slider_item    
        img(src="img/Slider4.png", alt="Slider4")
    
    div#slider_text_link_1.slider_text_link.active_text_link
        p Есть куча jQuery-плагинов, с помощью которых можно сделать слайдеры. Но есть ли те, которые обладают гибкостью и адаптивностью под разные размеры окон без лишнего кода? Едва ли. 
        a(href="#") Подробнее
    div#slider_text_link_2.slider_text_link
        p И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. 
        a(href="#") Подробнее
    div#slider_text_link_3.slider_text_link
        p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. 
        a(href="#") Подробнее
    div#slider_text_link_4.slider_text_link
        p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону 
        a(href="#") Подробнее
        
    div#miniatur_sliders
        a#miniatur_slider_1.miniatur_slider_item(href="#")
            img(src="img/Slider1_miniatura.jpg", alt="Slider1")
        a#miniatur_slider_2.miniatur_slider_item(href="#")
            img(src="img/Slider2_miniatura.jpg", alt="Slider2")
        a#miniatur_slider_3.miniatur_slider_item(href="#")
            img(src="img/Slider3_miniatura.jpg", alt="Slider3")
        a#miniatur_slider_4.miniatur_slider_item(href="#")
            img(src="img/Slider4_miniatura.png", alt="Slider4")
