div#custom_grid_layout
    div#headline
        h2
            |Жесть... Как я это реализую на bootstap?!
        h3  
            |Bootstap вгоняет Ваше мышление в определенные рамки

    #content1_custom_grid_layout.content_custom_grid_layout
        p.custom_grid_layout_content_text_headline
            |Эх, жирафы честно в цель шагают, да щук объять за память ёлкой...
        img(src="img/preview_pillow.png", alt="Bootstrap sucks")
        |К берегу двойной подошвой танцевал с точками на меня напала. Заломов нес красное знамя, по площади чеканя.
    #content2_custom_grid_layout.content_custom_grid_layout
        p.custom_grid_layout_content_text_headline 
            |В чащах юга жил-был цитрус... — да, но фальшивый!
        ol
            li
                div.content2_custom_grid_layout_text
                    div.krug_numbered_list
                    |Несмотря на латыни и зла средневековый книгопечатник вырвало тдельные. Обитателям водоемов то и по сей день веб-разработчик знает.
            li
                div.content2_custom_grid_layout_text
                    div.krug_numbered_list    
                    |Нести совсем необязательно обитателям водоемов книгопечатании еще в различных языках те. – написание символов на сайтах и демонстрации внешнего.
            li
                div.content2_custom_grid_layout_text
                    div.krug_numbered_list
                    |Кириллице значительно различается генераторы, создающие собственные варианты текста. Внешнего вида контента, просмотра шрифтов, абзацев отступов. Набор слов. рыбным текстом является знаменитый lorem.
    #content3_custom_grid_layout.content_custom_grid_layout
        p.custom_grid_layout_content_text_headline
            |Расчешись! Объявляю: туфли у камина.
        ol
            li
                div.content3_custom_grid_layout_text
                    div.shevron_numbered_list
                    |Его глаза с толку иванушку кота и задушило. Безухов носил панталоны с простыми солдатами бывает. Зимой не лoдка самым наглым oбразoм приставала к берегу.
            li
                div.content3_custom_grid_layout_text
                    div.shevron_numbered_list
                    |Белокурые локоны выбивались из головы, туловища и на диване. Обществе слышались не слышала. Полю, слегка попахивая греб коромыслами.
            li
                div.content3_custom_grid_layout_text
                    div.shevron_numbered_list
                    |Женщина, а в кармане у ласкового. Медведь выкопал яму под её лица произошел. Гордая и задушило дездемону серая шейка грустно опустила зад в.
