div#vertical_task_wrapper
    p
        |Задача вертикального центрирования
    div#vertical_task_pictures_wrapper
        img#vertical_task_picture1.vertical_task_pictures(src="img/preview.png", alt="Картинка 1")
        img#vertical_task_picture2.vertical_task_pictures(src="img/3041010_700b.jpg", alt="Картинка 2")
        img#vertical_task_picture3.vertical_task_pictures(src="img/28_tshirt_floor_man.jpg", alt="Картинка 3")