mixin team_members(card_id,team_member_foto_path,team_member_name)
    div.team_members(id= card_id)
        img(src= team_member_foto_path, alt="team")
        p.team_member_name=team_member_name
            span.team_member_circle
        p.team_member_email luke_sutton@company1.com
        p.team_member_about  The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.
        
        svg.team_members_menu_open_close(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",version="1.1",width="24",height="24",viewBox="0 0 24 24")
            path(d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z")
        div.team_members_popup_edit_delete
            svg.team_members_popup_edit(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", width="24", height="24", viewBox="0 0 24 24")
                path(d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z")
            span.team_members_popup_edit Редактировать
            svg.team_members_popup_delete(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", width="24", height="24", viewBox="0 0 24 24")
                path(d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z")
            span.team_members_popup_delete Удалить
        
div#Grid_card_view_wrapper
   
    +team_members('team_member1','img/team_pic1.jpg','Luke Sutton')
    +team_members('team_member2','img/team_pic2.jpg','Bruce Gordon')
    +team_members('team_member3','img/team_pic3.jpg','Cristina Nichols')
    +team_members('team_member4','img/team_pic1.jpg','Luke Sutton')
    +team_members('team_member5','img/team_pic3.jpg','Cristina Nichols')
    +team_members('team_member6','img/team_pic2.jpg','Bruce Gordon')
    +team_members('team_member7','img/team_pic1.jpg','Luke Sutton')
    +team_members('team_member8','img/team_pic2.jpg','Bruce Gordon')