div.FeedbackForm-RootElement(style='display: none')
    div#FeedbackForm_wrapper
        div#addresses_and_phone_numbers
            p.headline_FeedbackForm Адреса и телефоны
            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", width="20", height="20", viewBox="16 0 24 24")
                path(d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z")
            span +7-495-123-45-67
            svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",version="1.1",width="24",height="24",viewBox="12 0 24 24")
                path(d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z")
            span inquairy@example.com
            svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",version="1.1",width="24",height="24",viewBox="12 0 24 24")
                path(d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z")
            span г. Москва ул. Мясницкая д. R, стр. R; 101000

        form#application_FeedbackForm
            
            p.headline_FeedbackForm Форма заявки
            
            label(for="your_name_FeedbackForm") Ваше имя
            div.input_wrapper_for_icon
                svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",version="1.1",width="20",height="20",viewBox="0 0 24 24")
                    path(d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z")
                input#your_name_FeedbackForm(type="text" name="your_name", placeholder="Пример: Петров Сергей" required) 
                
            label(for="your_mail_FeedbackForm") Ваша электронная почта
            div.input_wrapper_for_icon
                svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",version="1.1",width="16",height="16",viewBox="-2 -4 24 24")
                    path(d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z")
                input#your_mail_FeedbackForm(type="email" name="your_mail", placeholder="Пример: petrov.s@rmail.ru" required)
                
            label(for="your_phone_FeedbackForm") Ваш телефон
            div.input_wrapper_for_icon
                svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", width="16", height="16", viewBox="0 -2 22 22")
                    path(d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z")
                input#your_phone_FeedbackForm(type="text" name="your_phone", placeholder="Пример: 8-916-123-45-67" required)
                
            label(for="message_FeedbackForm") Сообщение
            input#message_application_FeedbackForm(type="text" name="message")

            input#mailing_list1(type="checkbox" name="mailing_list1")
            label.checkbox_mailing_list(for="mailing_list1")
                
                |Подписаться на рассылку 1

            label.checkbox_mailing_list   
                input(type="checkbox" name="mailing_list2")
                |Подписаться на рассылку 2

            p   Предпочтительный способ связи

            label
                input(type="radio" name="method_to_connect" value="mail")
                |Электронная почта<br>
                input(type="radio" name="method_to_connect" value="phone")
                |Телефон
            p.setting_FeedbackForm Настройка 1
            p.setting_FeedbackForm Настройка 2
            input(type="submit")        