header#menu_top
    a#logotip(href="#")
        img(src="img/mhgsmall.png", alt="Интересные модели свадебных платьев. Натуральные ткани и европейский дизайн.")
    a#sidebar_shading(href="#")
    nav
        span#menu_sidebar Меню
        a#close_menu_sidebar(href="#close_sidebar") 
            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="4 0 22 22")
                path(d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z")
            | закрыть
        ul
            li
                a#company(href="#company") О компании
            li
                a#goods(href="#goods") Товары
            li
                a#services(href="#services") Услуги
            li
                a#location(href="#location") Схемы проезда
            li
                a#contacts(href="#contacts") Связаться
            li
                a#gamburger_menu_top(href="#gamburger")
                    svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",version="1.1",viewBox="0 0 24 24")
                        path(d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z") 
                    br
                    | МЕНЮ
                    