$GridMinWidth: 320px
$GridMaxWidth: 960px

// другие шрифты - см. framework/_1-variables.sass
$DefalutFontFamily: $ArialFontFamily
$DefalutFontSize: 13px
$DefaultLineHeight: 1

.FlexPageLayoutWithFixedHeaderAndBottomFooter
    &-Wrapper
        display: flex
        flex-direction: column
        height: 100vh
        position: relative
        align-items: stretch
          
    &-MainAndFooterFlexScroolView
        align-self: center
        flex-grow: 1
        flex-shrink: 0
        max-width: 1024px
        position: relative
        min-width: 320px
        width: 100%
        