$NavmenuLabelsSpriteUrl: url(../img/sprites.png)

@mixin SpriteBaseSettings($PositiveXCoordinate, $PositiveYCoordinate)
    display: inline-block
    background-image: $NavmenuLabelsSpriteUrl
    background-repeat: no-repeat
    background-position: -#{$PositiveXCoordinate}px -#{$PositiveYCoordinate}px


@mixin Sprite-FountainPen
    @include SpriteBaseSettings(192, 117)
    width: 18px
    height: 18px

    
$AdvantageIconSideWidth: 96px
%AdvantageIconBase
    width: $AdvantageIconSideWidth
    height: $AdvantageIconSideWidth

@mixin Sprite-Advantages-Uniquie
    @include SpriteBaseSettings(0, 64)
    @extend %AdvantageIconBase
    
@mixin Sprite-Advantages-MobileDevices
    @include SpriteBaseSettings(153, 448)
    @extend %AdvantageIconBase