<!DOCTYPE html>
<html>
<!-- 「head ================================================================-->

<head>
    <title>MyLanding-Studio.ru - Доступ к панели администратора</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Bokov Gleb, MyLanding Studio">
    <!-- <meta name="csrf-token" content="{{ csrf_token() }}">-->
    <!--      href="{{ asset('common/img/favicon.ico') }}"       -->
    <link rel="shortcut icon" type="image/x-icon" href="../common/img/favicon.ico">
    <!--      @yield('CssLinks')-->
    <!--      @yield('EndHeadJS')-->
    <link href="css/Authentication.css" rel="stylesheet">
    <!-- head」 ===============================================================-->
</head>

<body>
    <div class="AdminAuthenticationLayout-PageWrapper">
        <!-- 「header ============================================================-->
        <!--      @include('admin/widgets/AdminPanelHeader')-->
        <div class="AdminPanelLayout-Header">
            <div class="AdminPanelLayout-Header-TempContains"></div>
        </div>
        <!-- header」 ============================================================-->
        <div class="AdminAuthenticationLayout-Content">
            <!-- 「content ==========================================================-->
            <!--      @yield('Content')       -->
            <div class="AdminAuthenticationLayout-StandardDialog">
                <div class="Authentication-DialogTitle">MyLanding-Studio.ru</div>
                <div class="Authentication-DialogSubtitle">Вход в панель администратора</div>
                <noscript>
                    <div class="Authentication-ErrorMessage noJs">Для использования панели администратора необходимо включить JavaScript.</div>
                </noscript>
                <!-- action="{{ route('login') }}"-->
                <form class="Authentication-HtmlForm" id="SignInForm-HtmlForm" method="POST" action="#">
                    <!-- {{ csrf_field() }}-->
                    <!-- value="{{ old('email') }}"-->
                    <div class="Authentication-InputFieldBlock">
                        <input class="Authentication-InputField" id="Email-InputField-SignIn" type="email" name="email" placeholder="email" required autofocus>
                        <div class="Authentication-ErrorMessage" id="EmptyEmail-ErrorMessage">Пожалуйста, введите адрес электронной почты.</div>
                        <div class="Authentication-ErrorMessage" id="InvalidEmail-ErrorMessage">Вы ввели невозможный адрес электронной почты. Пожалуйста, проверьте введённый электронный адрес.</div>
                    </div>
                    <div class="Authentication-InputFieldBlock">
                        <input class="Authentication-InputField" id="Password-InputField-SignIn" type="password" name="password" placeholder="пароль" required>
                        <div class="Authentication-ErrorMessage" id="PasswordIsEmpty-ErrorMessage">Пожалуйста, введите пароль.</div>
                    </div>
                    <div class="Authentication-CheckboxAndLabelBlock">
                        <!-- {{ old('remember') ? 'checked' : '' }}-->
                        <label class="D-PseudoCheckbox-WrapperLabel">
                            <input class="D-PseudoCheckbox-AuthenticCheckbox" type="checkbox" name="rememberMeCheckbox" checked="checked" />
                            <svg class="D-PseudoCheckbox-CheckboxIcon unchecked" viewbox="0 0 24 24">
                                <path d="M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z"></path>
                            </svg>
                            <svg class="D-PseudoCheckbox-CheckboxIcon checked" viewbox="0 0 24 24">
                                <path d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"></path>
                            </svg><span class="D-PseudoCheckbox-PseudoLabel"></span>
                        </label><span class="Authentication-CheckboxAndLabelBlock-Label">Запомнить меня</span>
                    </div>
                    <div class="Authentication-SubmitButtonBlock">
                        <button class="Authentication-SubmitButton" id="SignIn-Button" type="submit" disabled>Вход</button>
                    </div>
                    <div class="Authentication-LinkBlock">
                        <!-- href="{{ route('password.request') }}--><a class="Authentication-Link" href="#">Забыли пароль?</a>
                    </div>
                </form>
            </div>
            <!-- content」 ==========================================================-->
        </div>
        <div class="Overlay-AbsoluteWrapper">
            <div class="Overlay-RelativeField">
                <!--      @yield('HiddenElements')     -->
            </div>
        </div>
    </div>
    <!--      @yield('EndBodyJS')     -->
    <script src="js/AdminPanel_Authentication.js"></script>
</body>

</html>