div.AdminPanelLayout-NavPanel

    div.NavPanel-ItemsNode
        div#Statistics-NavMenuLinkButton.NavPanel-Item-Wrapper
            div.NavPanel-Item-IconCell
                svg(viewbox='0 0 24 24'): path(d='M22,21H2V3H4V19H6V10H10V19H12V6H16V19H18V14H22V21Z')
            div.NavPanel-Item-TitleCell Статистика
            div.NavPanel-Item-SpecialCell
            div.NavPanel-Item-ExpandButtonCell
                svg(viewbox='0 0 24 24').collapsed: path(d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z')
                svg(viewbox='0 0 24 24').expanded: path(d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z')

    div.NavPanel-ItemsNode
        div#Requests-NavMenuLinkButton.NavPanel-Item-Wrapper
            div.NavPanel-Item-IconCell
                svg(viewbox='0 0 24 24'): path(d='M13,10H11V6H13M13,14H11V12H13M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z')
            div.NavPanel-Item-TitleCell Заявки
            div.NavPanel-Item-SpecialCell
            div.NavPanel-Item-ExpandButtonCell
                svg(viewbox='0 0 24 24').collapsed: path(d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z')
                svg(viewbox='0 0 24 24').expanded: path(d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z')
                
        div#RequestsSubitemDuplicate-NavMenuLinkButton.NavPanel-Subitem Все заявки
        div#RequestsSettings-NavMenuLinkButton.NavPanel-Subitem Настройки заявок
            

    div.NavPanel-ItemsNode
        div#Deals-NavMenuLinkButton.NavPanel-Item-Wrapper.disabled
            div.NavPanel-Item-IconCell
                svg(viewbox='0 0 24 24'): path(d='M11.8,10.9C9.53,10.31 8.8,9.7 8.8,8.75C8.8,7.66 9.81,6.9 11.5,6.9C13.28,6.9 13.94,7.75 14,9H16.21C16.14,7.28 15.09,5.7 13,5.19V3H10V5.16C8.06,5.58 6.5,6.84 6.5,8.77C6.5,11.08 8.41,12.23 11.2,12.9C13.7,13.5 14.2,14.38 14.2,15.31C14.2,16 13.71,17.1 11.5,17.1C9.44,17.1 8.63,16.18 8.5,15H6.32C6.44,17.19 8.08,18.42 10,18.83V21H13V18.85C14.95,18.5 16.5,17.35 16.5,15.3C16.5,12.46 14.07,11.5 11.8,10.9Z')
            div.NavPanel-Item-TitleCell Сделки
            div.NavPanel-Item-SpecialCell
            div.NavPanel-Item-ExpandButtonCell
                svg(viewbox='0 0 24 24').collapsed: path(d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z')
                svg(viewbox='0 0 24 24').expanded: path(d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z')

    div.NavPanel-ItemsNode
        div#SystemNotifications-NavMenuLinkButton.NavPanel-Item-Wrapper.disabled
            div.NavPanel-Item-IconCell
                svg(viewbox='0 0 24 24'): path(fill='#000000', d='M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z')
            div.NavPanel-Item-TitleCell Системные оповещения
            div.NavPanel-Item-SpecialCell
            div.NavPanel-Item-ExpandButtonCell
                svg(viewbox='0 0 24 24').collapsed: path(d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z')
                svg(viewbox='0 0 24 24').expanded: path(d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z')