.NewRequest
    
    &-Wrapper
        
        @include MainContentWidget
        min-width: $GridMinWidth
        max-width: $GridMinWidth*2
        width: 100%
        
        
    &-InfoGrid
        
        $SectionKeyCellAbsoluteWidth: 110px
        $SectionValueCellRelativeWidth: calc(100% - #{$SectionKeyCellAbsoluteWidth})
        
        overflow: hidden
        
        &-Column
            
            width: 50%
            min-width: 0.5*($GridMinWidth*2 - 24px - 2px)
            float: left
        
        &-Section
            
            overflow: hidden
            
            >div
                float: left
                padding: 6px 0
                
        &-KeyCell
            
            width: $SectionKeyCellAbsoluteWidth
            font-weight: bold
                        
            background: $r
            
        
        &-ValueCell
            
            width: $SectionValueCellRelativeWidth
            @include TextOverflow(ellipsis)
            padding-right: 1px !important