.FeedbackRequests
    
    &-Wrapper
        
        @include MainContentWidget
        min-width: $GridMinWidth
        max-width: $GridMinWidth*2
        
    &-Heading
        
        background: $r
        padding-bottom: 12px
        
    &-CardView
        
        overflow-y: auto
        
        &-Item
                    
            padding: 6px 0
            border-bottom: 1px solid #E0E0E0
            
            cursor: pointer
            
            &.new
                background: rgba(#1F3A93, 0.2)
                
            &.complete
                background: rgba(#6C7A89, 0.2)
                
            &.canceled
                background: rgba(#C0392B, 0.2)
                
            
            &-TimeAndLabel
                
            &-Label
                
                display: inline-block
                
                border: 1px solid $AbsBlackColor
                border-radius: 4px
                padding: 1px 4px
                margin-right: 6px
                
                font-family: $CalibriFontFamily
                font-size: 13px
                font-weight: bold
                
                &.new
                    border-color: #1F3A93
                    color: #1F3A93
                &.processed
                    border-color: #EB9532
                    color: #EB9532
                &.deal
                    border-color: #019875
                    color: #019875
                &.canceled
                    border-color: #C0392B
                    color: #C0392B
                &.complete
                    border-color: #6C7A89
                    color: #6C7A89
                
            &-Time
                
                font-size: 12px
                font-family: $CalibriFontFamily
                color: #9E9E9E
                
            &-Name
                
                font-size: 16px
                padding-top: 4px
                
            &-Email
                
                font-size: 13px
                font-family: $CalibriFontFamily
                color: #757575
                
                padding-top: 2px