div#slider_container
    width: 100%
    position: relative
    max-height: 576px
    div
        &.slider_item
            img
                display: none
        &.active_slider
            img
                display: block
                height: auto
                width: 100%
                
        &.slider_text_link
            display:none
            font-size: 0px
            
        &.active_text_link
            position: absolute
            bottom: 20px
            right: 0px
            z-index: 1
            padding: 5px 15px 70px 15px
            min-height: 165px
            width: 100%
            background: linear-gradient(to left,#d9ebeb, transparent)
            display: flex
            flex-direction: column
            justify-content: space-between
            font-size: 22px
            text-align: right

            p
                margin-left: auto
                width: 74%
                line-height: 1.1
            a 
                color: orange
                text-decoration: underline 
    div#miniatur_sliders
        line-height: 0
        position: absolute
        bottom: 30px
        right: 15px
        z-index: 3
        height: 55px
        text-align: right
        a.miniatur_slider_item
            display: inline-block
            margin-left: 7px

@media screen and (max-width:550px)
    div#slider_container    
        div
            &.slider_text_link
                position: static
                font-size: 0px
                background: none
                p 
                    width: 100%
            &.active_text_link
                min-height: 0px
                height: 124px
                font-size: 14px
                font-weight: bold
                position: static
                top: 0px
                padding-bottom: 5px
        div#miniatur_sliders
            padding-right: 15px 
            position: static
            height: 45px
            display: flex
            flex-direction: row
            justify-content: space-between
            
            a.miniatur_slider_item
                margin-left: 5px

                img
                    width: 73px
                    

