div#custom_grid_layout
    width: 100%
    padding: 0px 10px 3px 10px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    background: url(../img/batthern.png),linear-gradient(to right,#f7bb97,#dd5e89)
    
    div#headline
        flex-basis: 100%
        display: flex
        flex-direction: column
        justify-content: stretch
        height: 98px

        h2
            font-size: 22px
            flex-grow: 0.66
            display: flex
            flex-direction: column
            justify-content: center
        h3
            font-weight: bold
            display: flex
            flex-grow: 0.34
            flex-direction: column
            justify-content: center
    div
        &.content_custom_grid_layout
            margin: 3px 0px
            line-height: 1.4
            
            p.custom_grid_layout_content_text_headline
                font-weight: bold
                font-size: 14px
                line-height: 1.3
                
        &#content1_custom_grid_layout
            flex: 1 0 percentage(5/24)
            min-width: calc(5*1004px/24)
            width: calc(5*1004px/24 - 5px)
            background-image: linear-gradient(to left, transparent, transparent 5px, rgba(255,255,255,0.3) 5px, rgba(255,255,255,0.3)) 
            padding: 7px calc(7px + 5px) 7px 7px
            display: flex
            flex-direction: column
            img
                width: 155px
                height: auto
                align-self: center
                margin: 8px 0px
            
        &#content2_custom_grid_layout
            flex: 1 0 percentage(9/24)
            background-image: linear-gradient(to left, transparent, transparent 5px, rgba(255,255,255,0.3) 5px, rgba(255,255,255,0.3) 50%, transparent),linear-gradient(to right, transparent, transparent 5px, rgba(255,255,255,0.3) 5px, rgba(255,255,255,0.3) 50%,transparent)
            min-width: calc(320px - 10px -10px)
            padding: 7px calc(7px + 5px) 7px calc(7px + 5px) 7px
            display: flex
            flex-direction: column
            
            ol
                list-style-type: none
                list-style-position: outside
                counter-reset: num

                li
                    margin-top: 20px
                    
                    div.content2_custom_grid_layout_text
                        margin-left: 50px
                        position: relative
                    
                        div.krug_numbered_list
                            width: 0px
                            height: 0px
                            border-radius: 13px
                            padding: 13px 13px
                            background: linear-gradient(to bottom,#feb518,#ea0200)
                            position: absolute
                            top: -5px
                            left: -43px

                            &::before
                                content: counter(num)
                                counter-increment: num
                                color: #fff
                                font-weight: bold
                                position: relative
                                right: 3px
                                bottom: 9px
        &#content3_custom_grid_layout
            flex: 1 0 percentage(8/24)
            background: linear-gradient(to right, transparent, transparent 5px, rgba(255,255,255,0.3) 5px, rgba(255,255,255,0.3))
            padding: 7px 7px 7px calc(7px + 5px)
            min-width: calc(320px - 10px -10px)
            display: flex
            flex-direction: column
  
            ol
                list-style-type: none
                list-style-position: outside
                
                li
                    margin-top: 20px
                    
                    div.content3_custom_grid_layout_text
                        margin-left: 50px
                        position: relative
                        
                        div.shevron_numbered_list
                            line-height: 0
                            width: 40px
                            height: 36px
                            position: absolute
                            top: -12px
                            left: -43px

                            &:before
                                width: 50%
                                height: 50%
                                transform: skewX(47deg)
                                background: linear-gradient(to bottom,#feb518,#f45900)
                                content: ""
                                display: block

                            &:after
                                content: ""
                                display: block
                                width: 50%
                                height: 50%
                                transform: skewX(-47deg)
                                background: linear-gradient(to bottom,#f45900,#ea0200)

@media screen and (max-width:849px)
    div#custom_grid_layout
        div
            &#content2_custom_grid_layout
                background: linear-gradient(to right, transparent, transparent 5px, rgba(255,255,255,0.3) 5px, rgba(255,255,255,0.3))
            &#content3_custom_grid_layout
                background: rgba(255,255,255,0.3)
@media screen and (max-width:544px)
    div#custom_grid_layout
        div
            &#content2_custom_grid_layout,&#content1_custom_grid_layout
                background: rgba(255,255,255,0.3)