div#vertical_task_wrapper
    width: 100%
    padding: 0px 10px 5px 10px
    display: flex
    flex-direction: column
    background: url(../img/170628_main2.png)
    background-size: 100%
    
    p
        font-size: 28px
        color: #fff
        height: 51px
        display: flex
        flex-direction: column
        justify-content: center
     
    div#vertical_task_pictures_wrapper
        height: 100%
        text-align: center
        font-size: 0px
        img
            &.vertical_task_pictures
                background-color: rgba(255,255,255,0.5)
                height: auto
                width: 32.4%

            &#vertical_task_picture1
                vertical-align: top
                padding: 1.3% 2.59% 1.15% 2.59%
                margin-right: 1.3%
                
            &#vertical_task_picture2
                padding: 0.6% 4% 0.6% 3.39%
                margin-bottom: 25%
                margin-right: 1.3%
            &#vertical_task_picture3
                margin-top: 43%
                padding: 2.7% 1.5% 1.2% 3.4%
               
@media screen and (max-width:520px)
    div#vertical_task_wrapper>p
        font-size: 26px

            