div#Grid_card_view_wrapper
    width: 100%
    display: flex
    flex-direction: column
    flex-wrap: wrap
    background-color: #e9e9e9
    padding: 7px 10px
    height: calc(101px*4 + 7px*5)
    justify-content: space-between
    align-content: space-between
    
    div
        &.team_members
            padding: 4px
            background-color: #fff
            width: calc(50% - 3%/2)
            height: calc(90px + 7px + 4px)
            position: relative
            
            svg.team_members_menu_open_close
                display: inline
                cursor: pointer
                position: absolute
                top: 5px
                right: 0px

            div
                &.team_members_popup_edit_delete
                    display: none
                &.show_team_members_popup_edit_delete
                    display: block
                    position: absolute
                    background-color: #fff
                    line-height: 1.5
                    top: 3px
                    right: 20px
                    width: 130px
                    height: 70px
                    padding: 2px 5px 5px 5px
                    font-size: 11px
                    box-shadow: 0 2px 4px rgba(122,122,122,0.5)
                    
                    svg 
                        cursor: pointer
                        position: relative
                        top: 7px
                        margin-right: 10px
                    span
                        cursor: pointer
           
            img
                width: 90px
                height: auto
                float: left
                margin-right: 7px
                
            p
                &.team_member_name
                    margin-top: 2px
                    font-weight: bold
                    color: #000
                    font-size: 24px
                    
                    span.team_member_circle
                        margin-left: 11px
                        display: inline-block
                        width: 0px
                        height: 0px
                        border-radius: 9px
                        padding: 9px 9px   
                
                &.team_member_email
                    margin-top: 2px
                    color: #d6d3d3
                    font-size: 14px
                    font-weight: normal
                
                &.team_member_about
                    color: #828282
                    font-size: 12px
                    display: flex
                    flex-direction: column
                    justify-content: flex-end
                    line-height: 1.4
                    overflow: hidden
                    height: 52px
                    
                    &.allow_edit_team_member_about
                        textarea
                            overflow: auto
                                  
        &#team_member1,&#team_member3,&#team_member5,&#team_member6,&#team_member7,&#team_member8
            p.team_member_name>span.team_member_circle
                background-color: #44ffae

        &#team_member2
            p.team_member_name>span.team_member_circle
                background-color: #ffe044
        
        &#team_member4
            p.team_member_name>span.team_member_circle
                background-color: #ffa244
@media screen and (max-width:720px)
    div#Grid_card_view_wrapper
        overflow-y: scroll 
        flex-wrap: nowrap
        height: calc((101px + 7px)*4 + 7px*5)

        div.team_members
            width: 100%
            margin-top: 7px
            min-height: calc(90px + 7px)       
@media screen and (max-width:400px)       
    div#Grid_card_view_wrapper>div.team_members
        p.team_member_name
            font-size: 20px
            
        
        
        