@import 'framework/_framework';

.PresentationPage
    
    &-PageWrapper
        padding: 10px 10px
        
    &-H1
        font-size: 26px
        
    &-H2
        font-size: 18px
        margin-top: 7px
        
        &:not(:first-of-type)
            margin-top: 24px
        
    &-TableOfContent
        
        display: table
        table-layout: fixed
        
        margin-top: 10px
        
        >a
            display: table-row
            
            &:hover
                background: rgba(#4B77BE, 0.25);
            
            >div
                display: table-cell
                vertical-align: middle
                
                padding-top: 8px
                padding-bottom: 8px
                
                border-bottom: 1px solid #ECECEC
                
                &:first-child
                
                    width: 200px
                    padding-left: 10px
                
                    line-height: 1.2
                
                    color: #4B77BE
            
                &:nth-child(2)
                
                    padding-right: 14px
                    font-weight: bold
                
            &.waiting>div:nth-child(2)
                color: #C0392B
            &.clarification>div:nth-child(2)
                color: #D35400
            &.begun>div:nth-child(2)
                color: #F27935
            &.inprocess>div:nth-child(2)
                color: #F39C12
            &.interim>div:nth-child(2)
                color: #87D37C
            &.modificationWaiting>div:nth-child(2)
                color: #F27935
            &.underModification>div:nth-child(2)
                color: #F39C12
            &.accepted>div:nth-child(2)
                color: #019875        