doctype html
html
    head
        title (Имя нового лендинга)
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
        link(href='development/css/styles.css', rel='stylesheet')

    body
        div.PresentationPage-PageWrapper
        
            h1.PresentationPage-H1 (Имя нового лендинга)
            

            h2.PresentationPage-H2 Открытая часть
            
            div.PresentationPage-TableOfContent
                a(href='open/01_Top.html').waiting
                    div Главная страница
                    div Ожидает начала разработки
                a(href='open/01-01_NoJsRequest.html').waiting
                    div Страница заявки для пользователей без JavaScript
                    div Ожидает начала разработки
                a(href='open/02_Thanks.html').waiting
                    div Страница благодарности
                    div Ожидает начала разработки
                    

            h2.PresentationPage-H2 Аутентификация
            
            div.PresentationPage-TableOfContent
                a(href='admin/00-01_SignIn.html').inprocess
                    div Страница аутентификации
                    div В разработке
                    

            h2.PresentationPage-H2 Админ-панель
            
            div.PresentationPage-TableOfContent
                a(href='admin/01-02-01_Top-AllRequests.html').inprocess
                    div Все заявки
                    div В разработке
                a(href='admin/01-02-02_Top-NewRequest.html').inprocess
                    div Новая заявка
                    div В разработке
                    

            h2.PresentationPage-H2 Электронные письма
            
            div.PresentationPage-TableOfContent
                a(href='admin/emails/NewConsultRequestNotification.html').modificationWaiting
                    div Оповещение о новой заявке
                    div Возможно, нужна модификация
                a(href='admin/emails/FirstReplyToCustomerNameKnown.html').modificationWaiting
                    div Ответ с указанным именем
                    div Возможно, нужна модификация
                a(href='admin/emails/FirstReplyToCustomerNameUnknown.html').modificationWaiting
                    div Ответ без указанного имени
                    div Возможно, нужна модификация